{%extends "gallery/base.html"%}

{% load cloudinary %}

{%block content%}

<div class="owl-carousel owl-theme">
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=251">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=252">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=244">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=254">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=255">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=256">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=257">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=258">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=259">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=260">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=261">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=263">
    </div>
</div>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        {%for photo in photos%}
        <img src="{{photo.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{photo.name}}</h5>
          <p class="card-text">{{photo.description}}.</p>
          <button onclick="copyToClipboard('photo{{photo.id}}')" class="btn no-border text-white"><i class="far fa-copy"></i></button>
        </div>
      </div>
    </div>

    {%endfor%}
</div>
 </div>       
<style>
.card-img-top{
    width: 400px;
    height: 400px;
}

</style>
{%endblock%}

  